*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background-image: url(../assets/technology/background-technology-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Bellefair", sans-serif;
  overflow-x: hidden;
  color: #fff;
}

/* Utility Classes */

.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.grid-col-special {
  grid-template-columns: 1fr 8fr;
  gap: 2rem;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}

/************ Header **********/

.main-header {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.logo {
  padding: 1rem;
}

.nav-toggle {
  display: none;
  z-index: 9999;
}

/* Navigation */
.nav-list {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  padding: 1.4rem 5rem;
  padding-right: 10rem;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  position: relative;
  z-index: 99;
}

.nav-list span {
  font-weight: 700;
}

.nav-list-item {
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
  font-family: "Barlow Condensed", sans-serif;
  color: #fff;
  letter-spacing: 2.7px;
  position: relative;
}

.nav-list-item::before {
  content: "";
  position: absolute;
  bottom: -22px;
  left: 0;
  width: 0;
  height: 3px;
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.3s;
  transform-origin: center;
  background-color: rgb(255, 255, 255);
}

.nav-list-item.active::before {
  transform: scaleX(1.1);
}

.nav-list-item:active::before {
  transform: scaleX(1.1);
  background-color: #fff;
}

.nav-list-item:hover::before {
  transform: scaleX(1.1);
  background-color: rgba(255, 255, 255, 0.541);
}

.nav-list::before {
  content: "";
  border-top: 1px solid rgb(255, 255, 255);
  opacity: 0.26;
  width: 70%;
  position: absolute;
  top: 50%;
  right: 660px;
}

/* Media Queries for header */
@media screen and (max-width: 1024px) {
  .nav-list {
    padding-right: 5rem;
  }
  .nav-list::before {
    width: 40%;
    right: 587px;
  }
}

@media screen and (max-width: 768px) {
  .nav-list::before {
    display: none;
  }

  .nav-list {
    padding: 1.4rem 1.4rem;
  }
  .nav-list-item span {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .nav-list {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 60vw;
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;
    background: rgba(41, 41, 41, 0.6);
    padding-top: 8rem;
    padding-left: 2rem;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    overflow-y: hidden;
    user-select: none;
    transition: all 300ms ease-in-out;
  }
  @supports (backdrop-filter: blur(3px)) {
    .nav-list {
      /* Supported style with backdrop-filter */
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(3px);
    }
  }

  .nav-open .nav-list {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
  }

  .nav-list span {
    display: block;
  }

  .nav-list-item {
    font-size: 1rem;
    letter-spacing: 2.7px;
  }

  .nav-toggle {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 28px;
    right: 25px;
    z-index: 999;
  }

  .nav-toggle .close-menu {
    display: none;
  }

  .nav-open .close-menu {
    display: block;
  }

  .nav-open .hamburger-menu {
    display: none;
  }
}
/**************** end  of header styling ***********/
.container {
  padding-inline-start: 6rem;
  padding-block: 2.5rem;
  max-width: 1400px;
}

/*   ******** header  ********* */

.secondary-header {
  font-family: "Barlow Condensed", sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4.725px;
  font-size: 1.5rem;
  /* margin-bottom: 2rem; */
  margin-top: 2rem;
  font-weight: 400;
}
.header-number {
  margin-right: 1rem;
  opacity: 0.5;
  font-weight: 700;
}
/* text container */
.text-container {
  align-self: center;
}

.terminology-details {
  display: none;
}
.terminology-details.active {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* .technology-details {
} */
.terminology {
  color: #d0d6f9;
  font-family: "Barlow Condensed";
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2.7px;
}
.technology-name {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 400;
}
.technology-description {
  font-family: "Barlow-regular";
  font-size: 1.2rem;
  line-height: 2;
}
/* buttons */
.btns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.switch-technology {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.247);
  transition: all 200ms ease-in;
  justify-self: center;
  align-self: center;
}
.switch-technology:hover {
  border: 1px solid rgba(255, 255, 255, 0.877);
}
.switch-technology.active {
  background-color: #fff;
  color: #111;
}
.switch-technology.active:hover {
  background-color: #d0d6f9;
}
.none {
  display: none;
}
/* image container */
.img-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.img-container span {
  display: none;
}
.img-container span.active {
  display: block;
}
.landscape {
  display: none;
}

/***** media queries      **/
@media (max-width: 1024px) {
  .container {
    padding-inline-start: 2rem;
    max-width: 1020px;
  }
  .grid-col-2 {
    gap: 1rem;
  }
  .img-container img {
    width: 90%;
  }
  .secondary-header {
    margin-bottom: 2rem;
  }
  .terminology {
    margin-bottom: 1rem;
  }
  .technology-name {
    font-size: 2.7rem;
  }
}
@media (max-width: 920px) {
  .container {
    padding-inline-start: 1rem;
    padding-block: 2rem;
    max-width: 900px;
  }
  .grid-col-2 {
    gap: 0.5rem;
  }
  .img-container {
    width: fit-content;
  }
  .technology-name {
    font-size: 2.4rem;
  }
}
@media (max-width: 768px) {
  body {
    background-image: url(/Space-travel/starter-code/assets/technology/background-technology-tablet.jpg);
    padding-bottom: 3rem;
  }

  .container {
    padding: 0rem;
  }
  .grid-col-special {
    grid-template-columns: 1fr;
  }
  .grid-col-2 {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
  .secondary-header {
    margin-left: 2rem;
  }
  .terminology-details.active {
    gap: 2rem;
    max-width: 90vw;
  }
  .img-container {
    grid-row: 1;
    width: 100vw;
    display: block;
  }
  .img-container img {
    width: 100%;
  }
  .img-container span {
    width: 100vw !important;
  }
  .landscape {
    display: block;
    width: 100%;
  }
  .portrait {
    display: none;
  }
  .launch-vehicle {
    src: url(/Space-travel/starter-code/assets/technology/image-launch-vehicle-landscape.jpg);
  }
  .text-container {
    text-align: center;
    max-width: 500px;
    margin: auto;
  }
  .btns {
    flex-direction: row;
    justify-content: center;
  }
  .switch-technology {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 400px) {
  body {
    background-image: url(/Space-travel/starter-code/assets/technology/background-technology-mobile.jpg);
  }
  .secondary-header {
    font-size: 1.2rem;
    text-align: center;
    margin-left: 0;
    margin-block: 1rem;
  }
  .terminology-details.active {
    gap: 0.7rem;
  }
  .terminology {
    font-size: 1rem;
  }
  .technology-name {
    font-size: 1.6rem;
  }
  .switch-technology {
    width: 40px;
    height: 40px;
  }
}
